{% extends 'base.html' %}
{% block content %}
<div class="index-hero">
  <h1 class="index-hero__title">
    Передайте свои задачи фрилансеру и освободите время для важного
  </h1>
  <p class="index-hero__subtitle">
    Разработчики, дизайнеры и другие IT-специалисты готовы помочь вам прямо сейчас
  </p>
  <a href="{% url 'freelancers' %}" class="index-hero__cta">
    Найти специалиста
  </a>
</div>

<section class="categories">
  <div class="categories__grid">
    {% for sphere in spheres %}
      <a href="{% url 'orders' %}?category={{ sphere.id }}" class="category-card">
        <h3 class="category-card__title">{{ sphere.name }}</h3>
        <ul class="category-card__list">
          {% for subtype in sphere.spheretype_set.all|slice:":3" %}
            <li class="category-card__item">{{ subtype.name }}</li>
          {% endfor %}
          {% if sphere.spheretype_set.count > 3 %}
            <li class="category-card__item category-card__item--more">и многое другое</li>
          {% endif %}
        </ul>
      </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
