{% extends 'base.html' %}
{% block title %}Rulance · Авторизация{% endblock %}

{% block content %}
<section class="login-page">
  <div class="login-page__card">
    <h2 class="login-page__title">Вход</h2>

    <form method="post" class="login-page__form">
      {% csrf_token %}
      <input
        type="text"
        name="username"
        placeholder="Логин"
        class="login-page__input"
        required
      >
      <input
        type="password"
        name="password"
        placeholder="Пароль"
        class="login-page__input"
        required
      >
      <button type="submit" class="login-page__btn">
        Войти
      </button>
    </form>

    <p class="login-page__footer">
      <a href="{% url 'register' %}" class="login-page__link">
        Нет аккаунта? Зарегистрироваться
      </a>
    </p>
  </div>
</section>
{% endblock %}
