{% extends 'base.html' %}
{% load static %}
{% block title %}Заказы{% endblock %}

{% block content %}
<section class="container orders">
  <h2 class="page_header orders__title">Заказы</h2>


  
    <div class="orders_control">
        <form method="get" class="orders_control__form">
          <!-- Поиск по названию -->
          <div class="form-item">
            <label for="search">Название заказа:</label>
            <input type="text" name="search" id="search"
                   value="{{ filter.search }}"
                   class="form-input">
          </div>
      
          <!-- Цена -->
          <div class="form-item form-item--prices">
            <label>Цена (₽):</label>
            <input type="number" name="price_min" min="0" placeholder="Мин."
                   value="{{ filter.price_min }}" class="form-input form-input--small">
            <input type="number" name="price_max" placeholder="Макс."
                   value="{{ filter.price_max }}" min="0" class="form-input form-input--small">
          </div>
      
          <!-- Сфера -->
          <div class="form-item">
            <span class="label">Сфера:</span>
            <div class="orders_control__radios">
              {% for sphere in spheres %}
              <label class="orders_control__toggle-btn" data-sphere-id="{{ sphere.id }}">
                <input type="radio" name="sphere" value="{{ sphere.id }}" hidden
                  {% if filter.sphere_id|stringformat:"s" == sphere.id|stringformat:"s" %}checked{% endif %}>
                {{ sphere.name }}
              </label>
              {% endfor %}
            </div>
          </div>
      
          <!-- Подсферы -->
          <div class="form-item" id="sphere_types_container">
            {% for sphere in spheres %}
            <div class="sphere_types_group"
                 data-sphere-id="{{ sphere.id }}">
              <span class="label">Подсферы:</span>
              <div class="orders_control__radios">
                {% for st in sphere.spheretype_set.all %}
                <label class="orders_control__toggle-btn orders_control__toggle-btn--small">
                  <input type="checkbox" name="sphere_types" value="{{ st.id }}" hidden
                    {% if st.id in filter.sphere_types_ids %}checked{% endif %}>
                  {{ st.name }}
                </label>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="form-item">
            <span class="label">Сортировать:</span>
            <div class="orders_control__radios">
              <label class="orders_control__toggle-btn" data-sort="">
                <input type="radio" name="sort" value="" hidden
                       {% if not filter.sort %}checked{% endif %}>
                По умолчанию
              </label>
              <label class="orders_control__toggle-btn" data-sort="no_responses">
                <input type="radio" name="sort" value="no_responses" hidden
                       {% if filter.sort == 'no_responses' %}checked{% endif %}>
                Без откликов
              </label>
              <label class="orders_control__toggle-btn" data-sort="resp_asc">
                <input type="radio" name="sort" value="resp_asc" hidden
                       {% if filter.sort == 'resp_asc' %}checked{% endif %}>
                Отклики ↑
              </label>
              <label class="orders_control__toggle-btn" data-sort="resp_desc">
                <input type="radio" name="sort" value="resp_desc" hidden
                       {% if filter.sort == 'resp_desc' %}checked{% endif %}>
                Отклики ↓
              </label>
              <label class="orders_control__toggle-btn" data-sort="date_asc">
                <input type="radio" name="sort" value="date_asc" hidden
                       {% if filter.sort == 'date_asc' %}checked{% endif %}>
                Дата ↑
              </label>
              <label class="orders_control__toggle-btn" data-sort="date_desc">
                <input type="radio" name="sort" value="date_desc" hidden
                       {% if filter.sort == 'date_desc' %}checked{% endif %}>
                Дата ↓
              </label>
            </div>
          </div>      
          <!-- Кнопки -->
          <div class="form-item">
            <button type="submit" class="button-submit">Применить фильтры</button>
            <a href="{% url 'orders' %}" class="button-reset">Сбросить</a>
          </div>
        </form>
      </div>

  {% if orders %}
    <ul class="orders-list">
      {% for order in orders %}
      <li class="order-item">
        <h3 class="order-item__title">
            <a href="{% url 'order_detail' order.pk %}" class="order-item__link">
              {{ order.title }}
            </a>
      <span class="order-item__responses">
        <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            class="icon-eye"
            width="16"
            height="16"
            fill="currentColor"
            aria-hidden="true"
        >
          <path d="M572.52 241.4C518.74 135.76 407.22 64 288 64 
                  168.78 64 57.26 135.76 3.48 241.4a48.1 48.1 0 0 
                  0 0 29.2C57.26 376.24 168.78 448 288 448
                  c119.22 0 230.74-71.76 284.52-177.4a48.1 
                  48.1 0 0 0 0-29.2zM288 400c-61.86 0-112-50.14
                  -112-112s50.14-112 112-112 112 50.14 112 112
                  -50.14 112-112 112zm0-176a64 64 0 1 0 64 64 
                  64 64 0 0 0-64-64z"/>
        </svg>
      <span class="order-item__count">{{ order.responses_count }}</span>
    </span>
          </h3>
        <p class="order-item__desc">{{ order.description|truncatewords:25 }}</p>

        <div class="order-item__meta">
          <span>Категория:</span>
          <strong>{{ order.sphere.name }} → {{ order.sphere_type.name }}</strong>
        </div>

        <div class="order-item__price">
          <span>Цена:</span>
          {% if order.is_negotiable %}
            <strong>Договорная</strong>
          {% else %}
            <strong>{{ order.price }} ₽</strong>
          {% endif %}
        </div>

        <div class="order-item__date">
          Создано: {{ order.created_at|date:"d.m.Y H:i" }}
        </div>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="orders__empty">Пока нет ни одного заказа.</p>
  {% endif %}
</section>
{% endblock %}

