{% extends 'base.html' %}
{% load static %}
{% block title %}Rulance · Профиль{% endblock %}

{% block content %}
<section class="container profile">
  <h2 class="page_header profile__title">Профиль</h2>

  <div class="profile__card">
    <!-- Аватар -->
    <form id="avatar-form"
          method="post"
          action="{% url 'profile' %}"
          enctype="multipart/form-data"
          class="profile__avatar-wrapper">
      {% csrf_token %}
      <label for="id_avatar" class="profile__avatar-label">
        <img
          src="{{ user.avatar.url }}"
          alt="Аватар {{ user.username }}"
          class="profile__avatar-img"
          id="avatar-preview"
        >
        <span class="profile__avatar-hint">Изменить аватар</span>
      </label>
      <input type="file"
             id="id_avatar"
             name="avatar"
             accept="image/*"
             hidden>
    </form>

    <!-- Информация -->
    <div class="profile__info">
      <p class="profile__info-name">{{ user.full_name }}</p>
      <ul class="profile__info-list">
        <li><strong>Логин:</strong> {{ user.username }}</li>
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>Роль:</strong> {{ user.get_role_display }}</li>
        {% if user.role == 'Client' %}
            <a href="{% url 'make_order' %}" class="profile__link">Разместить заказ</a>
        {% endif %}
        {% if user.role == 'Freelancer' and has_portfolio %}
          <li><strong>Портфолио:</strong>
            <a href="{% url 'portfolio_detail' %}" class="profile__link">Моё портфолио</a>
          </li>
        {% endif %}
      </ul>

      {% if user.role == 'Freelancer' and not has_portfolio %}
        <a href="{% url 'portfolio_create' %}" class="profile__btn">Создать портфолио</a>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
